<!-- TODO: textek kiszervezése lang_hu-ba -->
<div class="container my-5">
    <!-- New Worker -->
    <div class="container">
        <h1 class="text-light">{{texts.header}}</h1>
        <form>
            <div class="container">
                <div class="row">
                    <div class="mb-3 col-5" *ngFor="let item of texts.form">
                        <label [for]="item.id" class="form-label text-light">{{item.text}}</label>
                        <input [type]="item.type" class="form-control" [id]="item.id">
                    </div>
                    <div class="mb-3 col-5 align-self-end" *ngFor="let item of texts.select">
                        <select class="form-select">
                            <option selected>{{item.text}}</option>
                            <option *ngFor="let option of item.options" [value]="option.value">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="activeCheck">
                    <label class="form-check-label" for="activeCheck">{{texts.switch}}</label>
                </div>
            </div>
            <button type="submit" class="btn btn-light my-2">{{texts.submitButton}}</button>
            <!--TODO click event-->
          </form>
    </div>
</div>
